* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #000; }

a {
  text-decoration: none;
  color: #000; }

h1 {
  font-size: 32px;
  letter-spacing: 1px; }

.logo {
  text-transform: uppercase;
  padding: 0 20px;
  margin: 20px 0;
  font-weight: 700; }
  .logo span {
    letter-spacing: 3px;
    margin-left: 3px;
    font-weight: 400; }

.kontakt-link-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 28px;
  transition: all ease-in-out 0.4s; }
  .kontakt-link-btn:hover {
    font-size: 34px; }

.open {
  display: grid !important; }

.nav-open {
  background: #fff !important; }

.site-header {
  display: grid;
  background-image: url("img/header.jpg");
  color: #fff;
  background-size: auto;
  background-position-y: -358px;
  background-position-x: -394px;
  background-repeat: no-repeat;
  grid-template-columns: [header-col-start first-col-start] 1fr [first-col-end second-col-start] 1fr [second-col-end third-col-start] 1fr [third-col-end fourth-col-start] 1fr [fourth-col-end header-col-end];
  grid-template-rows: [header-row-start top-nav-row-start] auto [top-nav-row-end h1-row-start] auto [h1-row-end p-row-start] auto [p-row-end header-row-end];
  grid-template-areas: "top-nav top-nav top-nav top-nav" "h1 h1 h1 ." "p p p p"; }
  .site-header .header-h1 {
    font-size: 54px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-bottom: 10px;
    grid-area: h1;
    margin-top: 81px;
    padding: 0 20px; }
  .site-header p {
    text-transform: none;
    grid-area: p;
    margin-bottom: 60px;
    padding: 0 20px;
    max-width: 500px; }

.top-nav {
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  grid-area: top-nav;
  grid-template-columns: auto auto;
  grid-template-rows: 61px auto;
  display: grid;
  grid-template-areas: "logo hamburger" "nav-ul nav-ul"; }
  .top-nav .logo {
    grid-area: logo; }
  .top-nav .hamburger {
    cursor: pointer;
    grid-area: hamburger;
    justify-self: right;
    align-self: center;
    margin-right: 20px; }
    .top-nav .hamburger .bar1,
    .top-nav .hamburger .bar2,
    .top-nav .hamburger .bar3 {
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 6px 0;
      transition: 0.4s; }
    .top-nav .hamburger .bar1 {
      margin-top: 0; }
    .top-nav .hamburger .bar3 {
      margin-bottom: 0; }
  .top-nav .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 6px);
    transform: rotate(-45deg) translate(-7px, 6px); }
  .top-nav .change .bar2 {
    opacity: 0; }
  .top-nav .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px); }
  .top-nav ul.nav-ul {
    grid-area: nav-ul;
    display: none;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas: "li-0" "li-1" "li-2" "li-3";
    list-style-type: none;
    padding: 10px 0 51px 0;
    -webkit-box-shadow: 0px 10px 5px -5px rgba(51, 51, 51, 0.35);
    -moz-box-shadow: 0px 10px 5px -5px rgba(51, 51, 51, 0.35);
    box-shadow: 0px 10px 5px -5px rgba(51, 51, 51, 0.35); }
    .top-nav ul.nav-ul li {
      padding: 10px 0; }
      .top-nav ul.nav-ul li a {
        padding: 10px 50px; }
    .top-nav ul.nav-ul .li-0 {
      grid-area: li-0; }
    .top-nav ul.nav-ul .li-1 {
      grid-area: li-1; }
    .top-nav ul.nav-ul .li-2 {
      grid-area: li-2; }
    .top-nav ul.nav-ul .li-3 {
      grid-area: li-3; }

section.o-nas {
  display: grid;
  grid-template-columns: [o-nas-col-start] auto [o-nas-col-end];
  grid-template-rows: [o-nas-row-start] auto [o-nas-h1-start] auto [o-nas-h1-end o-nas-p-start] auto [o-nas-p-end o-nas-kontakt-btn-start] auto [o-nas-kontakt-btn-end o-nas-row-end];
  grid-template-areas: "o-nas-lines" "o-nas-h1" "o-nas-p" "o-nas-kontakt-btn"; }
  section.o-nas .o-nas-lines {
    grid-area: o-nas-lines;
    grid-column-start: o-nas-col-start;
    grid-column-end: o-nas-col-end;
    grid-row-start: o-nas-row-start;
    grid-row-end: o-nas-row-end; }
  section.o-nas .o-nas-h1 {
    grid-area: o-nas-h1;
    justify-self: center;
    margin: 60px 0;
    padding: 0; }
  section.o-nas .o-nas-p {
    grid-area: o-nas-p;
    padding: 0 20px 60px 20px;
    text-align: center; }
  section.o-nas .o-nas-kontakt-btn {
    grid-area: o-nas-kontakt-btn;
    justify-self: center;
    padding: 10px 20px;
    background: none;
    border: 2px solid #000;
    outline: none;
    transition-duration: 0.4s; }
    section.o-nas .o-nas-kontakt-btn:hover {
      background: #000;
      color: #fff; }

section.co-mozemy {
  display: grid;
  grid-template-columns: [co-mozemy-col-start] auto [co-mozemy-col-end];
  grid-template-rows: [co-mozemy-row-start co-mozemy-h1-start] auto [co-mozemy-h1-end] auto [co-mozemy-end];
  grid-template-areas: "co-mozemy-lines" "co-mozemy-h1" "co-mozemy-ul"; }
  section.co-mozemy .co-mozemy-lines {
    grid-area: co-mozemy-lines;
    grid-column-start: co-mozemy-col-start;
    grid-column-end: co-mozemy-col-end;
    grid-row-start: co-mozemy-row-start;
    grid-row-end: co-mozemy-row-end; }
  section.co-mozemy .co-mozemy-h1 {
    grid-area: co-mozemy-h1;
    justify-self: center;
    margin: 60px 0 60px 0;
    padding: 0 20px;
    text-align: center; }
  section.co-mozemy .co-mozemy-ul {
    grid-area: co-mozemy-ul;
    background-image: url("/line.svg");
    list-style-type: none;
    padding: 0 20px 0 20px; }
    section.co-mozemy .co-mozemy-ul li {
      margin-bottom: 60px;
      text-align: center; }
      section.co-mozemy .co-mozemy-ul li:last-of-type {
        margin-bottom: 0; }
      section.co-mozemy .co-mozemy-ul li .co-mozemy-ul-number {
        width: 50px;
        height: 50px;
        border: 3px solid #000;
        border-radius: 100%;
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: 22px;
        margin: 0 auto 20px auto; }

section.zaufali-nam {
  display: grid;
  grid-template-columns: [zaufali-nam-col-start] auto [zaufali-nam-col-end];
  grid-template-rows: [zaufali-nam-row-start] auto [zaufali-nam-h1-start] auto [zaufali-nam-h1-end zaufali-nam-p-start] auto [zaufali-nam-p-end cocacola-logo-start] auto [cocacola-logo-end facebook-logo-start] auto [facebook-logo-end apple-logo-start] auto [apple-logo-end beats-logo-start] auto [beats-logo-end nike-logo-start] auto [nike-logo-end adidas-logo-start] auto [adidas-logo-end zaufali-nam-row-end];
  grid-template-areas: "zaufali-nam-lines" "zaufali-nam-h1" "zaufali-nam-p" "cocacola-logo" "facebook-logo" "apple-logo" "beats-logo" "nike-logo" "adidas-logo"; }
  section.zaufali-nam .zaufali-nam-lines {
    grid-area: zaufali-nam-lines;
    grid-column-start: zaufali-nam-col-start;
    grid-column-end: zaufali-nam-col-end;
    grid-row-start: zaufali-nam-row-start;
    grid-row-end: zaufali-nam-row-end; }
  section.zaufali-nam .zaufali-nam-h1 {
    grid-area: zaufali-nam-h1;
    justify-self: center;
    margin: 60px 0 60px 0;
    padding: 0 20px; }
  section.zaufali-nam .zaufali-nam-p {
    grid-area: zaufali-nam-p;
    text-align: center;
    padding: 0 20px 0 20px;
    margin-bottom: 60px; }
  section.zaufali-nam .zaufali-nam-logo {
    text-align: center;
    margin-bottom: 60px; }
    section.zaufali-nam .zaufali-nam-logo img {
      width: 20%; }
  section.zaufali-nam .cocacola-logo {
    grid-area: cocacola-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }
  section.zaufali-nam .facebook-logo {
    grid-area: facebook-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }
  section.zaufali-nam .apple-logo {
    grid-area: apple-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }
  section.zaufali-nam .beats-logo {
    grid-area: beats-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }
  section.zaufali-nam .nike-logo {
    grid-area: nike-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }
  section.zaufali-nam .adidas-logo {
    grid-area: adidas-logo;
    justify-self: center;
    padding: 0 20px 0 20px; }

section.kontakt {
  background: #a6c0db;
  display: grid;
  grid-template-columns: [kontakt-col-start] auto [kontakt-col-end];
  grid-template-rows: [kontakt-row-start kontakt-h1-start] auto [kontakt-h1-end kontakt-p-start] auto [kontakt-p-end kontakt-form-start] auto [kontakt-form-end adres-start] auto [adres-end mapa-start] auto [mapa-end kontakt-end];
  grid-template-areas: "kontakt-lines" "kontakt-h1" "kontakt-p" "kontakt-form" "adres" "mapa"; }
  section.kontakt .kontakt-lines {
    grid-area: kontakt-lines;
    grid-column-start: kontakt-col-start;
    grid-column-end: kontakt-col-end;
    grid-row-start: kontakt-row-start;
    grid-row-end: kontakt-row-end; }
  section.kontakt .kontakt-h1 {
    grid-area: kontakt-h1;
    justify-self: center;
    margin: 60px 0 30px 0;
    padding: 0 20px; }
  section.kontakt .kontakt-p {
    grid-area: kontakt-p;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 60px; }
  section.kontakt form {
    padding: 0 20px;
    margin-bottom: 60px;
    grid-area: kontakt-form;
    display: grid;
    grid-template-columns: [kontakt-form-start] auto [kontakt-form-end];
    grid-template-rows: [form-start label-imie-start] auto [label-imie-end label-email-start] auto [label-email-end label-tytul-start] auto [label-tytul-end label-wiadomosc-start] auto [label-wiadomosc-end status-start] auto [status-end submit-start] auto [submit-end form-end];
    grid-template-areas: "label-imie" "label-email" "label-tytul" "label-wiadomosc" "status" "submit"; }
    section.kontakt form .placeholder-color::placeholder {
      color: #DF2800; }
    section.kontakt form label {
      margin-bottom: 15px; }
      section.kontakt form label input {
        text-indent: 5px;
        width: 60%;
        padding: 5px 0;
        border: none;
        margin-top: 5px;
        border-radius: 1px;
        outline: none;
        filter: brightness(97%); }
        section.kontakt form label input:hover, section.kontakt form label input :focus, section.kontakt form label input :active {
          filter: brightness(100%); }
    section.kontakt form .label-imie {
      grid-area: label-imie;
      display: flex;
      flex-direction: column; }
    section.kontakt form .input-imie {
      grid-area: input-imie; }
    section.kontakt form .label-email {
      grid-area: label-email;
      display: flex;
      flex-direction: column; }
    section.kontakt form .input-email {
      grid-area: input-email; }
    section.kontakt form .label-tytul {
      grid-area: label-tytul;
      display: flex;
      flex-direction: column; }
    section.kontakt form .input-tytul {
      grid-area: input-tytul; }
    section.kontakt form .label-wiadomosc {
      grid-area: label-wiadomosc;
      display: flex;
      flex-direction: column;
      margin-bottom: 0; }
    section.kontakt form textarea {
      grid-area: textarea;
      text-indent: 5px;
      padding: 3px 0;
      border: none;
      margin-top: 5px;
      min-height: 100px;
      border-radius: 1px;
      outline: none;
      filter: brightness(97%); }
      section.kontakt form textarea:hover, section.kontakt form textarea :focus, section.kontakt form textarea :active {
        filter: brightness(100%); }
    section.kontakt form .status {
      grid-area: status; }
    section.kontakt form .submit {
      grid-area: submit;
      width: 200px;
      margin-top: 20px;
      padding: 10px 20px;
      background: none;
      border: 2px solid #000;
      outline: none;
      transition-duration: 0.4s; }
      section.kontakt form .submit:hover {
        background: #000;
        color: #fff; }
  section.kontakt .adres {
    grid-area: adres;
    padding: 0 20px;
    margin-bottom: 15px; }
    section.kontakt .adres .logo {
      margin: 0;
      padding: 0; }
  section.kontakt .mapa {
    padding: 0 20px;
    grid-area: mapa;
    width: 100%;
    height: 300px;
    margin-bottom: 70px; }

footer {
  display: grid;
  grid-template-columns: [footer-col-start] auto [footer-col-end];
  grid-template-rows: [nav-start] auto [nav-end];
  grid-template-areas: "nav-ul"; }
  footer ul.nav-ul {
    text-align: center;
    padding: 0 20px;
    margin: 60px 0 51px 0;
    grid-area: nav-ul;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas: "li-0" "li-1" "li-2" "li-3";
    list-style-type: none; }
    footer ul.nav-ul li {
      padding: 10px 0; }
      footer ul.nav-ul li a {
        padding: 10px 50px; }
    footer ul.nav-ul .li-0 {
      grid-area: li-0; }
    footer ul.nav-ul .li-1 {
      grid-area: li-1; }
    footer ul.nav-ul .li-2 {
      grid-area: li-2; }
    footer ul.nav-ul .li-3 {
      grid-area: li-3; }

@media (min-width: 600px) {
  .top-nav .hamburger {
    margin-right: 40px; }

  .site-header {
    background-size: auto;
    background-position-y: -358px;
    background-position-x: -394px;
    grid-template-columns: [header-col-start first-col-start] 1fr [first-col-end second-col-start] 1fr [second-col-end third-col-start] 1fr [third-col-end fourth-col-start] 1fr [fourth-col-end header-col-end];
    grid-template-rows: [header-row-start logo-start] auto [logo-row-end h1-row-start] auto [h1-row-end p-row-start] auto [p-row-end header-row-end];
    grid-template-areas: "logo logo . ." "h1 h1 h1 h1" "p p p p"; }
    .site-header .logo {
      padding: 0 40px; }
    .site-header .header-h1 {
      margin-top: 60px;
      margin-bottom: 10px;
      padding: 0 20px;
      text-align: center; }
      .site-header .header-h1 span {
        font-weight: 700;
        font-size: 96px;
        letter-spacing: 15px;
        padding: 0 0 0 16px; }
    .site-header p {
      font-weight: 700;
      padding: 0 20px;
      margin-bottom: 100px;
      text-align: center;
      justify-self: center; }

  section.o-nas h1.o-nas-h1 {
    margin: 100px 0 40px 0;
    padding: 0; }
  section.o-nas p.o-nas-p {
    padding: 0 40px;
    margin-bottom: 40px; }

  section.co-mozemy .co-mozemy-h1 {
    margin: 100px 0 40px 0; }
  section.co-mozemy .co-mozemy-ul {
    padding: 0 40px; }

  section.zaufali-nam .zaufali-nam-h1 {
    margin: 100px 0 40px 0; }
  section.zaufali-nam .zaufali-nam-logo:last-of-type {
    margin-bottom: 100px; }

  section.kontakt .kontakt-h1 {
    margin: 100px 0 40px 0; }
  section.kontakt .kontakt-p {
    margin-bottom: 100px; }
  section.kontakt form {
    padding: 0;
    margin-bottom: 100px;
    min-width: 80%;
    justify-self: center; }
  section.kontakt .adres {
    padding: 0 40px; }
  section.kontakt .mapa {
    padding: 0 40px;
    margin-bottom: 110px; }

  footer .logo {
    padding: 0 40px;
    margin-bottom: 40px; }
  footer ul.nav-ul {
    margin: 100px 0 91px 0; } }
@media (min-width: 900px) {
  .site-header {
    background-position-y: -277px; }
    .site-header .logo {
      grid-area: logo;
      position: fixed;
      top: 0;
      left: 0; }
    .site-header h1 {
      margin-top: 141px !important; }

  .top-nav {
    background: #fff;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nav-ul"; }
    .top-nav .hamburger {
      display: none; }
    .top-nav ul.nav-ul {
      display: grid !important;
      padding: 0 40px 0 0;
      grid-template-columns: 250px  auto 42px 154px 73px 59px;
      grid-template-rows: 60px;
      grid-column-gap: 20px;
      align-items: center;
      justify-items: right;
      grid-template-areas: "logo . li-0 li-1 li-2 li-3"; }
      .top-nav ul.nav-ul li {
        padding: 10px 0;
        text-align: right; }
        .top-nav ul.nav-ul li a {
          padding: 10px 0; }

  .o-nas .o-nas-p {
    padding: 0 120px !important; }

  .co-mozemy .co-mozemy-ul {
    padding: 0 120px !important; }

  section.zaufali-nam {
    display: grid;
    grid-template-columns: [zaufali-nam-col-start] 1fr 1fr [zaufali-nam-col-end];
    grid-template-rows: [zaufali-nam-row-start] auto auto auto auto auto auto [zaufali-nam-row-end];
    grid-template-areas: "zaufali-nam-lines zaufali-nam-lines" "zaufali-nam-h1 zaufali-nam-h1" "zaufali-nam-p zaufali-nam-p" "cocacola-logo facebook-logo" "apple-logo beats-logo" "nike-logo adidas-logo"; }
    section.zaufali-nam .logo {
      margin: 0; } }

/*# sourceMappingURL=style.css.map */
