// Formularz kontaktowy > 1200px 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #000;

}

a {
    text-decoration: none;
        color: #000;
}

h1 {
    font-size: 32px;
    letter-spacing: 1px;
}

.logo {
    text-transform: uppercase;
    padding: 0 20px;
    margin: 20px 0;
    font-weight: 700;
    
    span {
        letter-spacing: 3px;
        margin-left: 3px;
        font-weight: 400;
    }
}

.kontakt-link-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 28px;
    transition: all ease-in-out 0.4s;
    &:hover {
        font-size: 34px;
    }
}



.open {
    display: grid!important;
}
.nav-open {
    background: #fff!important;
}


/////////////////////////////////site-header//////////////////////////////////////
.site-header {
    display: grid;
    background-image: url('img/header.jpg');
    background-size: auto;
    color: #fff;
    background-size: auto;
    background-position-y: -358px;
    background-position-x: -394px;
    background-repeat: no-repeat;
    grid-template-columns: [header-col-start ] auto [ header-col-end];
    grid-template-rows:[header-row-start top-nav-row-start] auto [top-nav-row-end h1-row-start] auto [h1-row-end p-row-start] auto [p-row-end header-row-end];
    grid-template-areas: 
    "top-nav"
    "h1"
    "p";
    .header-h1 {
        font-size: 54px;
        line-height: 1.1;
        text-transform: uppercase;
        margin-bottom: 10px;
        grid-area: h1;
        margin-top: 81px;
        padding: 0 20% 0 20px;
    }
    p {
        text-transform: none;
        grid-area: p;
        margin-bottom: 60px;
        padding: 0 20px;
        max-width: 500px;
    }
}

///////////////////////////////////////top-nav//////////////////////////////////////

.top-nav {
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    grid-area: top-nav;
    grid-template-columns: auto auto;
    grid-template-rows: 61px auto;
    display: grid;
    grid-template-areas: 
    "logo hamburger"
    "nav-ul nav-ul";
    
    .logo {
        grid-area: logo;
    }

    .hamburger {
        cursor: pointer;
        grid-area: hamburger;
        justify-self: right;
        align-self: center;
        margin-right: 20px;
        .bar1,
        .bar2,
        .bar3 {
            width: 25px;
            height: 3px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
        }
        .bar1 {
            margin-top: 0;
        }
        .bar3 {
            margin-bottom: 0;
        }
        
    }

    .change {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-7px, 6px);
            transform: rotate(-45deg) translate(-7px, 6px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-6px, -6px);
            transform: rotate(45deg) translate(-6px, -6px);
        }

    }

    ul.nav-ul {
        grid-area: nav-ul;
        display: none;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-template-areas: 
        "li-0"
        "li-1"
        "li-2"
        "li-3";
        list-style-type: none;
        padding: 10px 0 51px 0;
        -webkit-box-shadow: 0px 10px 5px -5px rgba(51,51,51,0.35);
        -moz-box-shadow: 0px 10px 5px -5px rgba(51,51,51,0.35);
        box-shadow: 0px 10px 5px -5px rgba(51,51,51,0.35);
        li {
            padding: 10px 0;
            a {
                padding: 10px 50px;
            }
        }
        
        .li-0 {
            grid-area: li-0;
        }
        .li-1 {
            grid-area: li-1;
        }
        .li-2 {
            grid-area: li-2;
        }
        .li-3 {
            grid-area: li-3;
        }
    }
}

//////////////////////////////////section.o-nas////////////////////////////////////
section.o-nas {
    display: grid;
    grid-template-columns: [o-nas-col-start] auto [o-nas-col-end];
    grid-template-rows: [o-nas-row-start ] auto [o-nas-h1-start] auto [o-nas-h1-end o-nas-p-start] auto [o-nas-p-end o-nas-kontakt-btn-start] auto [o-nas-kontakt-btn-end o-nas-row-end];
    grid-template-areas: 
    "o-nas-lines"
    "o-nas-h1"
    "o-nas-p"
    "o-nas-kontakt-btn";
    
    .o-nas-lines {
        grid-area: o-nas-lines;
        grid-column-start: o-nas-col-start;
        grid-column-end: o-nas-col-end;
        grid-row-start: o-nas-row-start;
        grid-row-end: o-nas-row-end;
    }

    .o-nas-h1 {
        grid-area: o-nas-h1;
        justify-self: center;
        margin: 120px 0 60px 0;
        padding: 0;
    }
    .o-nas-p {
        grid-area: o-nas-p;
        padding: 0 20px 60px 20px;
        text-align: center;
    }

    .o-nas-kontakt-btn {
        grid-area: o-nas-kontakt-btn;
        justify-self: center;
        padding: 10px 20px;
        background: none;
        border: 2px solid #000;
        outline: none;
        transition-duration: 0.4s;
        &:hover {
            background: #000;
            color: #fff;
        }
    }

}
/////////////////////////////section.co-mozemy///////////////////////////////////////
section.co-mozemy {
    display: grid;
    grid-template-columns: [co-mozemy-col-start] auto [co-mozemy-col-end];
    grid-template-rows: [co-mozemy-row-start co-mozemy-h1-start] auto [co-mozemy-h1-end] auto [co-mozemy-end];
    grid-template-areas: 
    "co-mozemy-lines"
    "co-mozemy-h1"
    "co-mozemy-ul";
    // padding: 60px 20px 60px 20px;

    .co-mozemy-lines {
        grid-area: co-mozemy-lines;
        grid-column-start: co-mozemy-col-start;
        grid-column-end: co-mozemy-col-end;
        grid-row-start: co-mozemy-row-start;
        grid-row-end: co-mozemy-row-end;
    }

    .co-mozemy-h1 {
        grid-area: co-mozemy-h1;
        justify-self: center;
        margin: 120px 0 60px 0;
        padding: 0 20px;
        text-align: center;
    }


    .co-mozemy-ul {
        grid-area: co-mozemy-ul;
        background-image: url('/line.svg');
        list-style-type: none;
        padding: 0 20px 0 20px;
        li {
            margin-bottom: 60px;
            text-align: center;
            &:last-of-type{
                margin-bottom: 0;
            }
            .co-mozemy-ul-number {
                width: 50px;
                height: 50px;
                border: 3px solid #000;
                border-radius: 100%;
                display: grid;
                align-items: center;
                justify-items: center;
                font-size: 22px;
                margin: 0 auto 20px auto;
            }
        }
    }
}

/////////////////////////zaufali nam//////////////////////////////////////////
section.zaufali-nam {
    margin-bottom: 120px;
    display: grid;
    grid-template-columns: [zaufali-nam-col-start] auto [zaufali-nam-col-end];
    grid-template-rows: [zaufali-nam-row-start ] auto [zaufali-nam-h1-start] auto [zaufali-nam-h1-end zaufali-nam-p-start] auto [zaufali-nam-p-end cocacola-logo-start] auto [cocacola-logo-end facebook-logo-start] auto [facebook-logo-end apple-logo-start] auto [apple-logo-end beats-logo-start] auto [beats-logo-end nike-logo-start] auto [nike-logo-end adidas-logo-start] auto [adidas-logo-end zaufali-nam-row-end];
    grid-template-areas: 
    "zaufali-nam-lines"
    "zaufali-nam-h1"
    "zaufali-nam-p"
    "cocacola-logo"
    "facebook-logo"
    "apple-logo"
    "beats-logo"
    "nike-logo"
    "adidas-logo";
    
    .zaufali-nam-lines {
        grid-area: zaufali-nam-lines;
        grid-column-start: zaufali-nam-col-start;
        grid-column-end: zaufali-nam-col-end;
        grid-row-start: zaufali-nam-row-start;
        grid-row-end: zaufali-nam-row-end;
    }

    .zaufali-nam-h1 {
        grid-area: zaufali-nam-h1;
        justify-self: center;
        margin: 120px 0 60px 0;
        padding:0 20px;
    }
    .zaufali-nam-p {
        grid-area: zaufali-nam-p;
        text-align: center;
        padding: 0 20px 0 20px;
        margin-bottom: 60px;
    }

    .zaufali-nam-logo {
        text-align: center;
        margin-bottom: 60px;
        img {
            width: 120px;
        }
    }
    .cocacola-logo {
        grid-area: cocacola-logo;
    }
    .facebook-logo {
        grid-area: facebook-logo;
    }
    .apple-logo {
        grid-area: apple-logo;
    }
    .beats-logo {
        grid-area: beats-logo;
    }
    .nike-logo {
        grid-area: nike-logo;
    }
    .adidas-logo {
        grid-area: adidas-logo;
        margin-bottom: 0;
    }
}

/////////////////////////////section.kontakt///////////////////////////////////////
section.kontakt {
    padding-bottom: 120px;
    background: #a6c0db;
    display: grid;
    grid-template-columns: [kontakt-col-start] auto [kontakt-col-end];
    grid-template-rows: [kontakt-row-start kontakt-h1-start] auto [kontakt-h1-end kontakt-p-start] auto [kontakt-p-end kontakt-form-start] auto [kontakt-form-end adres-start] auto [adres-end mapa-start] auto [mapa-end kontakt-end];
    grid-template-areas: 
    "kontakt-lines"
    "kontakt-h1"
    "kontakt-p"
    "kontakt-form"
    "adres"
    "mapa";
    // padding: 60px 20px 60px 20px;

    .kontakt-lines {
        grid-area: kontakt-lines;
        grid-column-start: kontakt-col-start;
        grid-column-end: kontakt-col-end;
        grid-row-start: kontakt-row-start;
        grid-row-end: kontakt-row-end;
    }

    .kontakt-h1 {
        grid-area: kontakt-h1;
        justify-self: center;
        margin: 120px 0 30px 0;
        padding: 0 20px;
    }


    .kontakt-p {
        grid-area: kontakt-p;
        padding: 0 20px;
        text-align: center;
        margin-bottom: 60px;
        
    }
    form {
        padding: 0 20px;
        margin-bottom: 60px;
        grid-area: kontakt-form;
        display: grid;
        grid-template-columns: [kontakt-form-start] auto [kontakt-form-end];
        grid-template-rows: [form-start label-imie-start] auto [label-imie-end label-email-start] auto  [label-email-end label-tytul-start] auto  [label-tytul-end label-wiadomosc-start] auto [label-wiadomosc-end status-start] auto [status-end submit-start] auto [submit-end form-end];
        grid-template-areas: 
        "label-imie"
        "label-email"
        "label-tytul"
        "label-wiadomosc"
        "status"
        "submit";
        .placeholder-color::placeholder {
            color: #DF2800;
        }
        label {
            margin-bottom: 15px;

            input {
                text-indent: 10px;
                width: 60%;
                padding: 10px 0;
                border: none;
                margin-top: 5px;
                border-radius: 3px;
                outline: none;
                filter: brightness(97%);
                &:hover,&:focus,&:active {
                filter: brightness(100%);
                }
            }
        }
        .label-imie {
            grid-area: label-imie;
            display: flex;
            flex-direction: column;
        }
        .input-imie {
            grid-area: input-imie;
        }
        .label-email {
            grid-area: label-email;
            display: flex;
            flex-direction: column;
        }
        .input-email {
            grid-area: input-email;
        }
        .label-tytul {
            grid-area: label-tytul;
            display: flex;
            flex-direction: column;
        }
        .input-tytul {
            grid-area: input-tytul;
        }
        .label-wiadomosc {
            grid-area: label-wiadomosc;
            display: flex;
            flex-direction: column;
            margin-bottom: 0;
        }
        textarea {
            grid-area: textarea;
            text-indent: 10px;
            padding: 10px 0;
            border: none;
            margin-top: 5px;
            min-height: 100px;
            border-radius: 3px;
            outline: none;
            filter: brightness(97%);
            &:hover,:focus,:active {
                filter: brightness(100%);
                }
        }
        .status {
            grid-area: status;
        }
        .submit {
            grid-area: submit;
            width: 200px;
            margin-top: 20px;
            padding: 10px 20px;
            background: none;
            border: 2px solid #000;
            outline: none;
            transition-duration: 0.4s;
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
    .adres {
        grid-area: adres;
        padding: 0 20px;
        margin-bottom: 15px;
        .logo {
            margin: 0;
            padding: 0;
        }
    }
    .mapa {
        padding: 0 20px;
        grid-area: mapa;
        width: 100%;
        height: 300px;
    }
}

footer {
    display: grid;
    grid-template-columns: [footer-col-start] auto [footer-col-end];
    grid-template-rows: [nav-start] auto [nav-end];
    grid-template-areas: 
    "nav-ul";
    ul.nav-ul {
        text-align: center;
        padding: 0 20px;
        margin: 120px 0 111px 0;
        grid-area: nav-ul;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-template-areas: 
        "li-0"
        "li-1"
        "li-2"
        "li-3";
        list-style-type: none;
        li {
            padding: 10px 0;
            a {
                padding: 10px 50px;
            }
        }
        
        .li-0 {
            grid-area: li-0;
        }
        .li-1 {
            grid-area: li-1;
        }
        .li-2 {
            grid-area: li-2;
        }
        .li-3 {
            grid-area: li-3;
        }
    }
}

@media(min-width: 600px){
    .top-nav {
        .hamburger {
            margin-right: 40px;
        }
    }
    .site-header {
        background-position-y: -358px;
        background-position-x: -394px;
        .logo {
            padding: 0 40px;
        }
        .header-h1 {
            margin-top: 120px;
            margin-bottom: 10px;
            padding: 0 20px;
            text-align: center;
            span {
                font-weight: 700;
                font-size: 96px;
                letter-spacing: 15px;
                padding: 0 0 0 16px;
            }
        }
        p {
            // font-weight: 700;
            padding: 0 20px;
            margin-bottom: 140px;
            text-align: center;
            justify-self: center;
        }
    }
    section.o-nas {
        .o-nas-p {
            padding: 0 40px;
            margin-bottom: 40px;
        }
    }
    section.co-mozemy {
        .co-mozemy-ul {
            padding: 0 40px;
        }
    }
    section.zaufali-nam {
        .zaufali-nam-p {
            padding: 0 40px;
            margin-bottom: 100px;
        }
    }
    section.kontakt {

        .kontakt-p {
            margin-bottom: 100px;
        }
        form {
            padding: 0;
            margin-bottom: 100px;
            min-width: 80%;
            justify-self: center;
        }
        .adres {
            padding: 0 40px;
        }
        .mapa {
            padding: 0 40px;
            margin-bottom: 110px;
        }
    }
    footer {
        .logo {
            padding: 0 40px;
            margin-bottom: 40px;
        }
        ul.nav-ul {
            margin: 100px 0 91px 0;
        }
    }
}

@media(min-width: 900px){
    .site-header {
        height: 533px;
        background-position-y: -277px;
        .logo {
            grid-area: logo;
            position: fixed;
            top: 0;
            left: 0;
        }
        h1 {
            margin-top: 141px!important;
        }
       
    }
    .top-nav {
        background: #fff;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "nav-ul";
        .hamburger {
            display: none;
        }
        ul.nav-ul {
            display: grid!important;
            padding: 0 40px 0 0;
            grid-template-columns: 250px  auto 42px 154px 73px 59px;
            grid-template-rows: 60px;
            grid-column-gap: 20px;
            align-items: center;
            justify-items: right;
            grid-template-areas:
            "logo . li-0 li-1 li-2 li-3";
            li {
                padding: 10px 0;
                text-align: right;
                a {
                    padding: 10px 0;
                }
            }
        }   
    }
    .o-nas {
        .o-nas-p {
            padding: 0 120px!important;
        }
        .o-nas-h1 {
            margin: 200px 0 100px 0!important;
        }
    }
    .co-mozemy {
        .co-mozemy-ul {
            padding: 0 120px!important;
        }
        .co-mozemy-h1 {
            margin: 200px 0 100px 0!important;
        }
    }
    .zaufali-nam {
        margin-bottom: 100px;
        display: grid!important;
        grid-template-columns: [zaufali-nam-col-start] 1fr 1fr [zaufali-nam-col-end]!important;
        grid-template-rows: [zaufali-nam-row-start]auto auto auto auto auto auto[zaufali-nam-row-end]!important;
        grid-template-areas: 
        "zaufali-nam-lines zaufali-nam-lines"
        "zaufali-nam-h1 zaufali-nam-h1"
        "zaufali-nam-p zaufali-nam-p"
        "cocacola-logo facebook-logo"
        "apple-logo beats-logo"
        "nike-logo adidas-logo"!important;
        .logo-left-col{
            justify-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            '. . img-left .';
            .img-left-col{
                grid-area: img-left;
            }
        }
        .logo-right-col{
            justify-content: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            '. img-right . .';
            .img-right-col{
                grid-area: img-right;
            }
        }
        .zaufali-nam-logo {
            align-items: center;
            justify-items: center;
            margin: 0 0 100px 0!important;

        }
        .zaufali-nam-h1 {
            margin: 200px 0 40px 0!important;
        }
        .zaufali-nam-p {
            padding: 0 120px!important;
            margin-bottom: 120px!important;
        }
    }
    .kontakt {
        .kontakt-h1 {
            margin: 200px 0 40px 0!important;
        }
    }
}

@media(min-width: 1200px){
    .site-header {
        height: 533px;
        grid-template-rows:[header-row-start top-nav-row-start] 60px [top-nav-row-end txt-row-start] auto [txt-row-end header-row-end];
        grid-template-areas: 
        "top-nav top-nav"
        "h1 p";
        .header-h1 {
            margin:0!important;
            padding: 0;
            align-self: center;
            justify-self: right;

        }
        .site-header-p {
            margin: 0;
            align-self: center;
            padding: 0;
            justify-self: left;
            max-width: 303px;
            text-align: left;
            font-size: 20px;
            position: relative;
            top: -21px;
        }
    }
}

@media(min-width: 1800px){
    
}