* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Staatliches', cursive;
    color: #000;
}

a {
    text-decoration: none;
        color: #000;
}




/*////////////////////////////////Header////////////////////////////////*/

.open {
    display: grid!important;
}
.nav-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff!important;
}
///////////////////////////////////////top-nav//////////////////////////////////////

.top-nav {
    // display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    grid-area: top-nav;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 61px auto;
    grid-template-areas: 
    "hamburger"
    "nav-ul";
    
    .hamburger {
        cursor: pointer;
        grid-area: hamburger;
        justify-self: right;
        align-self: center;
        margin-right: 20px;
        .bar1,
        .bar2,
        .bar3 {
            width: 25px;
            height: 3px;
            background-color: #000;
            margin: 6px 0;
            transition: 0.4s;
        }
        .bar1 {
            margin-top: 0;
        }
        .bar3 {
            margin-bottom: 0;
        }
        .change {
            .bar1 {
                -webkit-transform: rotate(-45deg) translate(-7px, 6px);
                transform: rotate(-45deg) translate(-7px, 6px);
            }
            .bar2 {
                opacity: 0;
            }
            .bar3 {
                -webkit-transform: rotate(45deg) translate(-6px, -6px);
                transform: rotate(45deg) translate(-6px, -6px);
            }

        }
    }

    ul.nav-ul {
        grid-area: nav-ul;
        display: none;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        grid-template-areas: 
        "li-0"
        "li-1"
        "li-2";
        list-style-type: none;
        padding: 10px 0 51px 0;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(51,51,51,0.35);
        -moz-box-shadow: 0px 3px 5px 0px rgba(51,51,51,0.35);
        box-shadow: 0px 3px 5px 0px rgba(51,51,51,0.35);
        li {
            padding: 10px 0;
            a {
                padding: 10px 50px;
            }
        }
        
        .li-0 {
            grid-area: li-0;
        }
        .li-1 {
            grid-area: li-1;
        }
        .li-2 {
            grid-area: li-2;
        }
    }
}

/////////////////////////////////site-header//////////////////////////////////////
.site-header {
    display: grid;
    background-image: url('img/header.jpg');
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    grid-template-columns: [header-col-start] auto [header-col-end];
    grid-template-rows:[header-row-start logo-start] auto [logo-end] auto [text-end header-row-end];
    grid-template-areas: 
    "logo"
    "text";
    .logo {
        text-transform: uppercase;
        padding: 20px;
        
        span {
            letter-spacing: 3px;
            margin-left: 3px;
        }
    }
    section.text {
        grid-area: text;
        padding: 20px 20px 60px 20px;
    }
    
    
    .header-h1 {
        font-size: 72px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    p {
        text-transform: none;
    }
}

/////////////////////////////section.co-mozemy///////////////////////////////////////
section.co-mozemy {
    display: grid;
    grid-template-columns: [co-mozemy-col-start] auto [co-mozemy-col-end];
    grid-template-rows: [co-mozemy-row-start co-mozemy-h1-start] auto [co-mozemy-h1-end icon-start] auto [ icon-end co-mozemy-end];
    grid-template-areas: 
    "co-mozemy-h1"
    "icon";
    padding: 60px 20px 60px 20px;
    .icon {
        grid-area: icon;
        font-size: 100px;
        justify-self: center;
        margin-bottom: 20px;
    }
    .co-mozemy-h1 {
        grid-area: co-mozemy-h1;
        justify-self: center;
        margin-bottom: 20px;


    }
    .co-mozemy-ul {
        padding: 0 20px;
        li {
            margin-bottom: 10px
        }
    }
}